
@attribute [Authorize]
@inject Radzen.DialogService dialogService;
<div class="row">
    <div class="col-md-12">
        <RadzenFieldset Text="Pilih Cetakan !">
            <div class="form-group">
                <div class="col-md-8">
                    <input type="radio" name="print" value="suratjalan" @onchange="changePrint" />  Surat Jalan
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    <input type="radio" name="print" value="faktur" @onchange="changePrint" /> Faktur
                </div>
            </div>

        </RadzenFieldset>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right" style="margin-top:20px">
        <RadzenButton Click="Cetak" Text="OK" Style="margin-bottom: 10px; width: 150px" />
        <RadzenButton Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Secondary" Text="Cancel"
                      Style="margin-bottom: 10px; width: 150px" />
    </div>
</div>



@code {
    string print="";
    public async Task Cetak()
    {
        await Task.Delay(1000);
        dialogService.Close(print);
    }



    void changePrint(ChangeEventArgs data)
    {
        print = data.Value.ToString();
    }
}
