@page "/editcategory/{model}"



@inject ICategoryService categoryService;
@inject NotificationService NotificationService;
@inject Radzen.DialogService dialogService;


<div class="row">
    <div class="col-md-12">
        <RadzenFieldset Text="Kategori">
            <div class="row">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Nama" />
                </div>
                <div class="col-md-8">
                    <RadzenTextBox @bind-Value="model.Name" style="width: 100%;" Name="CardNr" />
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Keterangan" />
                </div>
                <div class="col-md-8">
                    <RadzenTextArea style="width: 100%;" @bind-Value="model.Description" />
                </div>
            </div>


        </RadzenFieldset>
    </div>
</div>
<div class="row">
   
    <div class="col-md-12 d-flex justify-content-end gap-2" style="margin-top:20px">

        <Radzen.Blazor.RadzenButton Icon="undo" Text="Batal" ButtonType="ButtonType.Button" Click="@(()=>Close())" ButtonStyle="ButtonStyle.Info" />
        <Radzen.Blazor.RadzenButton Icon="save" Text="Simpan" ButtonType="ButtonType.Button"
                                    Click="@(async (args) => await SaveAction())" ButtonStyle="ButtonStyle.Warning" />
    </div>
</div>






@code {

    [Parameter]
    public Category model { get; set; }


    protected override Task OnInitializedAsync()
    {
        StateHasChanged();
        return Task.CompletedTask;
    }



    public void Close()
    {
        dialogService.Close();
    }



    public async Task SaveAction()
    {
        try
        {
                



            var saved = false;
            if (model.Id > 0)
            {
                saved = await categoryService.Update(model.Id, model);
                dialogService.Close();
            }
            else
            {
                var result = await categoryService.Post(model);
                if (result != null)
                {
                    saved = true;
                    dialogService.Close(model);
                }
            }

            if (!saved)
                throw new SystemException("Data Not Saved");

            NotificationService.Notify(new NotificationMessage
            {
                Detail = "Data Saved !",
                Duration = 3000,
                Severity = NotificationSeverity.Success,
                Summary = "Success"

            });


        }
        catch (Exception ex)
        {

            NotificationService.Notify(new NotificationMessage {
                Detail=ex.Message, Duration=3000, Severity= NotificationSeverity.Error,  Summary="Error"

            });
        }
    }
}
