@inherits LayoutComponentBase
<RadzenNotification />
<RadzenDialog />

    <div class="page noprint">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row noprint">
                <a class="noprint" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
