<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WebClient</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <RadzenPanelMenu>
        <RadzenPanelMenuItem Text="General" Icon="home" Path="/">
            <RadzenPanelMenuItem Text="Kategory" Path="category" Icon="category"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Suplier" Path="supplier" Icon="supervised_user_circle"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Pelanggan" Path="customer" Icon="emoji_people"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Karyawan" Path="karyawan" Icon="group"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Data Barang" Icon="inventory" Path="product">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Pembelian" Icon="shopping_cart">
            <RadzenPanelMenuItem Style="margin-left:10px" Text="Order" Path="pembelian/order" Icon="shopping_cart"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Style="margin-left:10px" Text="Realisasi" Path="pembelian/realisasi" Icon="shopping_cart"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Penjualan" Icon="storefront">
            <RadzenPanelMenuItem Style="margin-left:10px" Text="Order" Path="penjualan/order" Icon="storefront"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Style="margin-left:10px" Text="Realisasi" Path="penjualan/realisasi" Icon="storefront"></RadzenPanelMenuItem>

        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Laporan" Icon="save">
            <RadzenPanelMenuItem Text="Stock" Path="data/stock" Icon="receipt_log"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Sales" Path="data/penjualan" Icon="receipt_log"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Incomming Check" Path="incomming" Icon="receipt_log"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>

    </RadzenPanelMenu>
   
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
