@page "/dialoggudang/{OrderId}";



@inject IGudangService gudangService;

@attribute [Authorize]

@inject Radzen.DialogService dialogService;

<div class="row">
    <div class="col-md-12">
        <RadzenFieldset Text="Pilih Gudang">
            <div class="row">
                <div class="col-md-12">
                    <RadzenDropDown @bind-Value="Selected" Style="width:100%" TextProperty="Name"
                                    Data=@gudangs />
                </div>
            </div>
        </RadzenFieldset>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right" style="margin-top:20px">
        <RadzenButton Click="@((args) => dialogService.Close( new {OrderId= Model.Id, Gudang=Selected }))" Text="OK" Style="margin-bottom: 10px; width: 150px" />
        <RadzenButton Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="margin-bottom: 10px; width: 150px" />
    </div>
</div>



@code {

    [Parameter]
    public int OrderId { get; set; }

    [Parameter]
    public OrderPembelian Model { get; set; }
    
    public Gudang Selected { get; set; }


    IEnumerable<Gudang> gudangs = new List<Gudang>();


    protected override async Task OnInitializedAsync()
    {
        gudangs = await gudangService.Get();
        StateHasChanged();
    }




}
