@page "/"

@using ShareModels;
@using WebClient;
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager nav;

<div style="height:100vh; display:flex; justify-content:center; align-items:center">
        <AuthorizeView>
            <Authorized>
                <img src="/images/apslogowithtext.png" />
            </Authorized>
            <NotAuthorized>
                <p><em>@loading</em></p>
                <h1>Authentication Failure!</h1>
                <p>You're not signed in.</p>
                <button class="btn btn-success" @onclick="@dologin">Login</button>
            </NotAuthorized>
        </AuthorizeView>
</div>

@code{

    string loading ="Loading....";
    //bool login = false;

    protected override async Task OnInitializedAsync()
    {
        await Loading();
    }

    void dologin()
    {
        nav.NavigateTo("/login");
    }

    async Task Loading()
    {
        await Task.Delay(2000);
        loading = string.Empty;
      //  login = true;
    }
}