@page "/supplier"



@attribute [Authorize]

@inject NavigationManager nav;
@inject ISupplierService supplierService;

<h3>Data Supplier</h3>
<RadzenButton Icon="add" Style="margin-bottom: 5px; white-space: pre-wrap" ButtonStyle="ButtonStyle.Success" Click="@(()=> nav.NavigateTo($"/supplier/change"))"/>
    <RadzenGrid Data="suppliers" AllowFiltering="true" AllowPaging="true" AllowSorting="true"  >
        <Columns>
            <RadzenGridColumn TItem="Supplier" Title="Name" Property="Nama" />
            <RadzenGridColumn TItem="Supplier" Title="Contact Person" Property="ContactPersonName" Width="250px" />
            <RadzenGridColumn TItem="Supplier" Title="Telepon" Property="Telepon" Width="200px" />
            <RadzenGridColumn TItem="Supplier" Context="item" Width="100px">
                <Template>
                    <RadzenButton Icon="info" ButtonStyle="ButtonStyle.Warning" Click="@(()=> nav.NavigateTo($"/supplier/change/{item.Id}"))"></RadzenButton>
                    <RadzenButton Icon="list" ButtonStyle="ButtonStyle.Info" Click="@(()=> nav.NavigateTo($"/supplier/products/{item.Id}"))"></RadzenButton>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>



    @code {
        private IEnumerable<Supplier> suppliers;

        protected override async Task OnInitializedAsync()
        {
            try
            {
                suppliers = await supplierService.GetSuppliers();
            }
            catch (Exception)
            {


            }


        }


        private void AddAction()
        {
            nav.NavigateTo("/supplier/change/1");
        }

    }
