
.form-group {
    margin-bottom: 0 !important;
}

.datainfo {
    font-size: 13px;
    font-weight:normal;
}

.top-row {
    background-color: transparent;
    border-bottom: none;
    justify-content: normal;
    height: 0;
    display: none !important;
}


h2, h5 {
    margin-bottom: 0;
}

.col-form-label-sm {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
}

.form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.table {
    margin-top: 10px;
    width: 100%;
}

    .table td {
        padding: 0.1rem;
        vertical-align: top;
        border-top: 1px solid #6b6b6b;
        border-bottom: 1px solid #6b6b6b;
        font-size: 1rem;
    }

    .table th {
        padding: 0.5rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        font-size: 1rem;
        font-weight: bold;
    }


body {
    background: red;
}


hr {
    margin: 0;
    margin-bottom: 5px;
}

@media print {
    @page {
        size: auto;
        background-color: white;
    }

    .top-row {
        display: none !important;
    }

    .content, .main, .px-4 {
        padding: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 0px !important;
    }

    .px-4 {
        padding: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 0px !important;
    }


    .justPrint {
        position: absolute;
        top: 0px;
    }
}
